/* Estilos generales para el cuerpo del documento */
body {
	margin: 0; /* Elimina márgenes externos */
	padding: 0; /* Elimina relleno */
	font-family: Helvetica, Arial, sans-serif; /* Fuente principal */
	background: #f4f4f4; /* Color de fondo */
	font-size: 1em; /* Tamaño de la fuente */
	line-height: 1.5em; /* Altura de línea */
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera */
}

/* Estilos para los títulos h1 */
h1 {
    color: aqua; /* Color del texto */
    text-decoration-line: underline; /* Subrayado */
	font-size: 2.3em; /* Tamaño de la fuente */
	line-height: 1.3em; /* Altura de línea */
	margin: 15px 0; /* Margen */
	text-align: center; /* Alineación */
	font-weight: 300; /* Grosor de la fuente */
}

/* Estilos para los párrafos */
p {
	margin: 0 0 1.2em 0; /* Margen */
    color: aliceblue; /* Color del texto */
    text-align: justify; /* Alineación */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Fuente */
}

/* Estilos para las imágenes */
img {
	max-width: 100%; /* Ancho máximo */
	height: auto; /* Altura automática */
    display:block; /* Hace que la imagen sea un elemento de bloque */
    margin:auto; /* Centra la imagen horizontalmente */
}

/* Estilos para la cabecera */
#main-header {
	background: rgb(248, 0, 0); /* Color de fondo */
	color: rgb(255, 0, 0); /* Color del texto */
	height: 80px; /* Altura */
}	

#main-header a {
	color: rgb(255, 255, 255); /* Color del texto */
}

/* Estilos para la navegación */
nav {
	float: right; /* Flota a la derecha */
}

nav ul {
	margin: 0; /* Margen */
	padding: 0; /* Relleno */
	list-style: none; /* Elimina el estilo de lista */
	padding-right: 20px; /* Relleno derecho */
}
	
nav ul li {
	display: inline-block; /* Hace que los elementos de la lista aparezcan en línea */
	line-height: 80px; /* Altura de línea */
}
			
nav ul li a {
	display: block; /* Hace que los enlaces sean elementos de bloque */
	padding: 0 10px; /* Relleno */
	text-decoration: none; /* Elimina el subrayado */
}
			
nav ul li a:hover {
	background: #e50404; /* Color de fondo al pasar el ratón */
}

/* Estilos para el contenido principal */
#main-content {
    background: black; /* Color de fondo */
    width: 90%; /* Ancho */
    max-width: 800px; /* Ancho máximo */
    margin: 20px auto; /* Margen */
    box-shadow: 0 0 10px rgb(255, 3, 3); /* Sombra */
}
                
#main-content header,
#main-content .content {
    padding: 40px; /* Relleno */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Relleno */
    text-align: center; /* Alineación */
    display: block; /* Bloque */
}

footer ul {
    list-style-type: none; /* Elimina el estilo de lista */
    padding: 0; /* Relleno */
}

footer ul li {
    display: inline; /* Hace que los elementos de la lista aparezcan en línea */
    margin-right: 10px; /* Margen derecho */
}

footer ul li a {
    color: rgb(16, 222, 219); /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
}

footer ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos para los íconos sociales */
.social-icons {
    list-style-type: none; /* Elimina el estilo de lista */
    padding: 0; /* Relleno */
}

.social-icons li {
    display: inline; /* Hace que los elementos de la lista aparezcan en línea */
    margin-right: 10px; /* Margen derecho */
}

.social-icons li img {
    width: 30px; /* Ancho de los íconos */
    height: 30px; /* Altura de los íconos */
}
