body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Define la fuente utilizada en todo el documento */
    text-align: justify;
    padding-top: 0px; /* Relleno superior igual a la altura de la cabecera.*/
}

#main-header {
	height: 80px;
}	

#main-header a {
	color: rgb(255, 255, 255);
}

#main-content {
    background: black;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(255, 3, 3);
}
                
#main-content header,
#main-content .content {
    padding: 40px;
}

  
nav {
    background-color: #fd0000; /* Establece el color de fondo de la barra de navegación */
}
  
  
nav ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline; /* Hace que los elementos de la lista aparezcan en línea */
}
  
nav ul li a {
    display: inline-block; /* Hace que los enlaces ocupen un espacio y permitan establecer dimensiones */
    padding: 20px; /* Añade relleno a los enlaces */
    color: white; /* Establece el color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}
  
nav ul li a:hover {
    background-color: #b59595; /* Cambia el color de fondo cuando se pasa el mouse por encima */
}


.chart-wrap {
    --chart-width:420px;
    --grid-color:#aaa;
    --bar-color:rgb(6, 12, 193);
    --bar-thickness:40px;
    --bar-rounded: 3px;
    --bar-spacing:10px;

    font-family:sans-serif;
    width:var(--chart-width);
}

.chart-wrap .title{
    font-weight:bold;
    padding:1.8em 0;
    text-align:center;
    white-space:nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid{
    transform:rotate(-90deg);
}

.chart-wrap.horizontal .bar::after{
    /* giramos las letras para horizontal*/
    color: #ffffff;
    transform: rotate(45deg);
    padding-top:0px;
    display: block;
}

.chart-wrap .grid{
    color: #ffffff;
    margin-left:50px;
    position:relative;
    padding:5px 0 5px 0;
    height:100%;
    width:100%;
    border-left:2px solid var(--grid-color);
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before{
    font-size:0.8em;
    font-weight:bold;
    content:'0%';
    position:absolute;
    left:-0.5em;
    top:-1.5em;
}
.chart-wrap .grid::after{
    font-size:0.8em;
    font-weight:bold;
    content:'100%';
    position:absolute;
    right:-1.5em;
    top:-1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before, .chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height:var(--bar-thickness);
    margin:var(--bar-spacing) 0;
    background-color:var(--bar-color);
    border-radius:0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover{
    opacity:0.7;
}

.chart-wrap .bar::after{
    content:attr(data-name);
    margin-left:100%;
    padding:10px;
    display:inline-block;
    white-space:nowrap;
}

.section-title {
    text-align: center;
    color: aqua;
    text-decoration: underline;
}
  
.section-p {
    color: bisque;
    text-align: justify;
}

footer {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: rgb(16, 222, 219);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons li img {
  width: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
}