body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4; 
	font-size: 1em;
	line-height: 1.5em;
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera.*/
}

h1 {
    color: aqua;
    text-decoration-line: underline;
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h2 {
    color: darkorange;
    text-decoration: underline;
    text-align:justify;
    font-size: 2.3rem;
    line-height: 1.3em;
    font-weight: 300;
    margin: 15px 0;
}

h3 {
    color: chartreuse;
    text-align: center;
    font-size: 2.3rem;
    line-height: 1.3rem;
    font-weight: 300;
    margin: 15px 0;
    text-decoration: underline;
}

h4 {
    color:deeppink;
    text-align: center;
    font-size: 2.3rem;
    line-height: 1.3rem;
    font-weight: 300;
    margin: 15px 0;
    text-decoration: underline;
}

h5 {
    color: cornflowerblue;
    text-align: center;
    font-size: 2.3rem;
    line-height: 1.3rem;
    font-weight: 300;
    margin: 15px 0;
    text-decoration: underline;
}

p {
	margin: 0 0 1.2em 0;
    color: aliceblue;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
    display:block;
    margin:auto;
}

/* Desde acá vamos a dar estilos a la cabecera.*/
#main-header {
	background: rgb(248, 0, 0);
	color: rgb(255, 0, 0);
	height: 80px;
}	

#main-header a {
	color: rgb(255, 255, 255);
}


/*
 * Navegación
 */
nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #e50404; /* Esta propiedad hace que cuando nos posicionemos en un botón este se coloree.*/
}

#main-content {
    background: black;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(255, 3, 3);
}
                
#main-content header,
#main-content .content {
    padding: 40px;
}              

#main-header {
    background: rgb(249, 3, 3);
    color: rgb(92, 3, 165);
    height: 80px;
    width: 100%; /* Hacemos que la cabecera ocupe el ancho completo de la página. */
    left: 0; /* Posicionamos la cabecera al lado izquierdo. */
    top: 0; /* Posicionamos la cabecera pegada arriba. */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija. */
}


/* Estilos para el pie de página */
footer {
    background-color: #ff0000; /* Color de fondo del pie de página */
    color: white; /* Color del texto */
    padding: 10px; /* Relleno */
    text-align: center; /* Alineación del texto */
    display: block;
}

footer ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0;
}

footer ul li {
    display: inline; /* Hace que los elementos de la lista aparezcan en línea */
    margin-right: 10px; /* Margen derecho entre elementos */
}

footer ul li a {
    color: rgb(16, 222, 219); /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

footer ul li a:hover {
    text-decoration: underline; /* Subrayado del enlace al pasar el ratón por encima */
}

/* Estilos para los íconos sociales */
.social-icons {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /*se utiliza para agregar espacio de relleno alrededor del contenido de un elemento*/
}

.social-icons li {
    display: inline; /* Hace que los elementos de la lista aparezcan en línea */
    margin-right: 10px; /* Margen derecho entre elementos */
}

.social-icons li img {
    width: 30px; /* Tamaño de los íconos */
    height: 30px; /* Tamaño de los íconos */
}
