/* Estilos para el cuerpo del documento */
body {
  background-color: #ccc; /* Color de fondo */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  font-family: Arial, sans-serif; /* Define la fuente utilizada en todo el documento */
}

/* Estilos para la barra de navegación */
nav {
  background-color: #ff0000; /* Establece el color de fondo de la barra de navegación */
}

/* Estilos para la lista de navegación */
nav ul {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
  display: inline; /* Hace que los elementos de la lista aparezcan en línea */
}

/* Estilos para los enlaces de la lista de navegación */
nav ul li a {
  display: inline-block; /* Hace que los enlaces ocupen un espacio y permitan establecer dimensiones */
  padding: 20px; /* Añade relleno a los enlaces */
  color: white; /* Establece el color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los enlaces de la lista de navegación cuando se pasa el mouse por encima */
nav ul li a:hover {
  background-color: #555; /* Cambia el color de fondo cuando se pasa el mouse por encima */
}

/* Estilos para el contenedor */
.container {
  width: 50%; /* Establece el ancho del contenedor del formulario */
  margin: 50px auto; /* Centra el contenedor horizontalmente y establece un margen superior e inferior */
}

/* Estilos para las etiquetas del formulario */
form label {
  display: block; /* Hace que las etiquetas de los campos de entrada aparezcan en una nueva línea */
  margin-bottom: 10px; /* Añade espacio entre las etiquetas */
}

/* Estilos para los campos de entrada y el área de texto del formulario */
form input[type="text"], 
form input[type="email"],
form textarea {
  width: 100%; /* Establece el ancho de los campos de entrada y el área de texto */
  padding: 10px; /* Añade relleno a los campos de entrada y el área de texto */
  margin-bottom: 20px; /* Añade espacio entre los campos de entrada y el área de texto */
  border: 1px solid #ccc; /* Establece un borde alrededor de los campos de entrada y el área de texto */
  border-radius: 4px; /* Establece la curvatura de las esquinas del borde */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total del elemento */
}

/* Estilos para el área de texto del formulario */
form textarea {
  height: 150px; /* Establece la altura del área de texto */
}

/* Estilos para el botón del formulario */
form button {
  background-color: #333; /* Establece el color de fondo del botón */
  color: white; /* Establece el color del texto del botón */
  padding: 10px 20px; /* Añade relleno al botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 4px; /* Establece la curvatura de las esquinas del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el botón del formulario cuando se pasa el mouse por encima */
form button:hover {
  background-color: #555; /* Cambia el color de fondo cuando se pasa el mouse por encima del botón */
}

/* Estilos para el pie de página */
footer {
  background-color: #ff0000; /* Color de fondo del pie de página */
  color: white; /* Color del texto */
  padding: 20px; /* Relleno */
  text-align: center; /* Alineación del texto */
}

footer ul {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0;
}

footer ul li {
  display: inline; /* Hace que los elementos de la lista aparezcan en línea */
  margin-right: 10px; /* Margen derecho entre elementos */
}

footer ul li a {
  color: rgb(16, 222, 219); /* Color del texto del enlace */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

footer ul li a:hover {
  text-decoration: underline; /* Subrayado del enlace al pasar el mouse por encima */
}

/* Estilos para los iconos sociales */
.social-icons {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0;
}

.social-icons li {
  display: inline; /* Hace que los elementos de la lista aparezcan en línea */
  margin-right: 10px; /* Margen derecho entre elementos */
}

.social-icons li img {
  width: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
}