/* Estilo base para el documento HTML y el cuerpo */
html,
body {
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    font-family: Arial, Helvetica, sans-serif; /* Establece la fuente principal */
    transition: 0.5s; /* Agrega una transición suave */
}

/* Estilo para el cuerpo */
body {
    height: 100%; /* Establece la altura del cuerpo al 100% de la ventana del navegador */
    width: 100%; /* Establece el ancho del cuerpo al 100% de la ventana del navegador */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}

/* Estilo para el contenido principal */
.main-content {
    height: 100vh; /* Establece la altura del contenido principal al 100% de la altura de la ventana del navegador */
    width: 100%; /* Establece el ancho del contenido principal al 100% de la ventana del navegador */
}

/* Estilo para el contenedor de la cabecera */
.header-container {
    height: 8vh; /* Establece la altura del contenedor de la cabecera */
    width: 100%; /* Establece el ancho del contenedor de la cabecera al 100% de la ventana del navegador */
    position: fixed; /* Fija la posición del contenedor de la cabecera */
    top: 0; /* Coloca la cabecera en la parte superior de la ventana */
    left: 0; /* Coloca la cabecera en el borde izquierdo de la ventana */
    display: flex; /* Usa el modelo de caja flexible para el diseño */
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 40px; /* Añade relleno a los lados del contenedor de la cabecera */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto totales */
    background-color: transparent; /* Establece el color de fondo transparente */
    z-index: 1; /* Coloca el contenedor de la cabecera sobre otros elementos */
}

/* Estilo para el logotipo */
.logo {
    height: 90%; /* Establece la altura del logotipo */
}

/* Estilo para el contenedor del menú */
.menu-container {
    list-style: none; /* Elimina los estilos de lista predeterminados */
    display: flex; /* Usa el modelo de caja flexible para el diseño */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 0; /* Elimina el margen inferior */
}

/* Estilo para los elementos del menú */
.menu-item {
    margin-left: 3vw; /* Establece el margen izquierdo entre los elementos del menú */
    font-size: 18px; /* Establece el tamaño de fuente */
}

/* Estilo al pasar el ratón sobre los elementos del menú */
.menu-item:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón sobre los elementos del menú */
}

/* Estilo para los enlaces de los elementos del menú */
.menu-item-link {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Establece el color del texto */
}

/* Estilo al pasar el ratón sobre los enlaces de los elementos del menú */
.menu-item-link:hover {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón sobre los enlaces */
    color: white; /* Establece el color del texto */
}

/* Estilo del slider */

/* Estilo del contenedor del slider */
.carousel {
    height: 100vh; /* Establece la altura del slider al 100% de la altura de la ventana del navegador */
    width: 100%; /* Establece el ancho del slider al 100% de la ventana del navegador */
}

/* Estilo del contenedor interno del slider */
.carousel-inner {
    width: 100%; /* Establece el ancho del contenedor interno del slider al 100% */
    height: 100%; /* Establece la altura del contenedor interno del slider al 100% */
}

/* Estilo de los elementos del slider */
.carousel-item {
    height: 100%; /* Establece la altura de los elementos del slider al 100% */
    width: 100%; /* Establece el ancho de los elementos del slider al 100% */
}

/* Estilo de las imágenes del slider */
.img-slider {
    height: 100%; /* Establece la altura de las imágenes del slider al 100% */
    position: relative; /* Establece la posición relativa */
    object-fit: cover; /* Escala la imagen para que cubra todo el contenedor manteniendo su relación de aspecto */
}

/* Estilo del contenido del slider */
.content-slider {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.8)); /* Establece un degradado de fondo */
    width: 100%; /* Establece el ancho al 100% */
    height: 100%; /* Establece la altura al 100% */
    position: absolute; /* Establece la posición absoluta */
    top: 0; /* Coloca el contenido en la parte superior */
    left: 0; /* Coloca el contenido en el borde izquierdo */
    display: flex; /* Usa el modelo de caja flexible para el diseño */
    justify-content: flex-end; /* Coloca el contenido al final del contenedor */
    align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
    flex-direction: column; /* Establece la dirección de la fila */
    padding: 20vh; /* Añade relleno */
}

/* Estilo del texto del slider */
.text-slide {
    font-weight: 800; /* Establece el peso de la fuente */
    font-family: Arial, Helvetica, sans-serif; /* Establece la fuente */
    font-size: 4rem; /* Establece el tamaño de la fuente */
    color: white; /* Establece el color del texto */
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
}

/* Estilo del enlace del slider */
.link-slide {
    padding: 12px 45px; /* Añade relleno */
    background-color: white; /* Establece el color de fondo */
    border-radius: 35px; /* Establece el radio del borde */
    color: #121212; /* Establece el color del texto */
    font-weight: 700; /* Establece el peso de la fuente */
    font-size: 1rem; /* Establece el tamaño de la fuente */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

/* Estilo al pasar el ratón sobre el enlace del slider */
.link-slide:hover {
    background-color: rgb(211, 211, 211); /* Cambia el color de fondo al pasar el ratón */
    color: #121212; /* Cambia el color del texto al pasar el ratón */
    text-decoration: none; /* Elimina el subrayado del enlace */
}
