/* Reset de estilos y estilos base */

body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo del documento */
  font-family: Helvetica, Arial, sans-serif; /* Define la fuente principal para el texto del cuerpo */
  background: #f4f4f4; /* Establece el color de fondo del cuerpo */
  font-size: 1em; /* Establece el tamaño de fuente base */
  line-height: 1.5em; /* Establece la altura de línea base */
  padding-top: 0px; /* Relleno superior igual a la altura de la cabecera. */
}

/* Estilos para el pie de página */

footer {
  background-color: #ff0000; /* Color de fondo del pie de página */
  color: white; /* Color del texto del pie de página */
  padding: 20px; /* Espaciado interno del pie de página */
  text-align: center; /* Alineación del texto del pie de página */
}

footer ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

footer ul li {
  display: inline; /* Muestra los elementos de la lista en línea */
  margin-right: 10px; /* Espaciado a la derecha entre elementos de la lista */
}

footer ul li a {
  color: rgb(16, 222, 219); /* Color del enlace en el pie de página */
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

footer ul li a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse por encima */
}

/* Estilos para los iconos de redes sociales en el pie de página */

.social-icons {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

.social-icons li {
  display: inline; /* Muestra los elementos de la lista en línea */
  margin-right: 10px; /* Espaciado a la derecha entre elementos de la lista */
}

.social-icons li img {
  width: 30px; /* Ancho de los iconos de redes sociales */
  height: 30px; /* Altura de los iconos de redes sociales */
}

/* Estilos para los encabezados */

h1 {
  color: aqua; /* Color del texto del encabezado h1 */
  text-decoration-line: underline; /* Subraya el texto del encabezado h1 */
  font-size: 2.3em; /* Tamaño de fuente del encabezado h1 */
  line-height: 1.3em; /* Altura de línea del encabezado h1 */
  margin: 15px 0; /* Espaciado externo del encabezado h1 */
  text-align: center; /* Alineación del texto del encabezado h1 */
  font-weight: 300; /* Grosor de fuente del encabezado h1 */
}

h2 {
  color: darkorange; /* Color del texto del encabezado h2 */
  text-decoration: underline; /* Subraya el texto del encabezado h2 */
  text-align: justify; /* Alineación justificada del texto del encabezado h2 */
  font-size: 2.3rem; /* Tamaño de fuente del encabezado h2 */
  line-height: 1.3em; /* Altura de línea del encabezado h2 */
  font-weight: 300; /* Grosor de fuente del encabezado h2 */
  margin: 15px 0; /* Espaciado externo del encabezado h2 */
}

/* Estilos para párrafos */

p {
  margin: 0 0 1.2em 0; /* Espaciado externo de los párrafos */
  color: aliceblue; /* Color del texto de los párrafos */
  text-align: justify; /* Alineación justificada del texto de los párrafos */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Fuente del texto de los párrafos */
}

/* Estilos para imágenes */

img {
  max-width: 100%; /* Ancho máximo de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Hace que las imágenes sean elementos de bloque */
  margin: auto; /* Centra las imágenes horizontalmente */
}

/* Estilos para la cabecera */

#main-header {
  background: rgb(248, 0, 0); /* Color de fondo de la cabecera */
  color: rgb(255, 0, 0); /* Color del texto de la cabecera */
  height: 80px; /* Altura de la cabecera */
}

#main-header a {
  color: rgb(255, 255, 255); /* Color de los enlaces de la cabecera */
}

/* Estilos para la navegación */

nav {
  float: right; /* Alinea la navegación a la derecha */
}

nav ul {
  margin: 0; /* Elimina el margen de la lista de navegación */
  padding: 0; /* Elimina el relleno de la lista de navegación */
  list-style: none; /* Elimina los puntos de la lista */
  padding-right: 20px; /* Espaciado interno a la derecha de la lista de navegación */
}

nav ul li {
  display: inline-block; /* Muestra los elementos de la lista en línea */
  line-height: 80px; /* Altura de línea de los elementos de la lista */
}

nav ul li a {
  display: block; /* Hace que los enlaces ocupen todo el espacio del contenedor */
  padding: 0 10px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

nav ul li a:hover {
  background: #e50404; /* Color de fondo al pasar el mouse por encima de los enlaces */
}

/* Estilos para el contenido principal */

#main-content {
  background: black; /* Color de fondo del contenido principal */
  width: 100%; /* Ancho del contenido principal */
  max-width: 800px; /* Ancho máximo del contenido principal */
  margin: 20px auto; /* Centra el contenido principal horizontalmente */
  box-shadow: 0 0 10px rgb(255, 3, 3); /* Sombra alrededor del contenido principal */
}

#main-content header,
#main-content .content {
  padding: 40px; /* Espaciado interno del encabezado y el contenido */
}
